body {
  background: #32d632; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b3e6eb, #32d632);
  background: linear-gradient(to left, #b3e6eb, #32d632);
}

#headerPic {
  background-image: url(gasThing.jpg);
  background-repeat: no-repeat;
  background-position: top;
  height: 200px
}

.card {
  background: #32d632; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b3e6eb, #32d632);
  background: linear-gradient(to right, #b3e6eb, #32d632);
}

MapContainer {
  width: 50%
}